@font-face{
    font-family: "Comic";
    src: url('../Fonts/HVD-Comic-Serif-Pro/HVD_Comic_Serif_Pro.otf');
}
*{
    margin: 0;
    padding: 0;
}
#outerContainer{
    width: 1100px;
    height: 770px;
    background: url(../Assets/grass.png) no-repeat;
    margin: 0px auto;
}
#canvas {
    display: block;
    margin: 0px auto;
    border: 1px black solid;
}
